body {
  background: #191919;
  color: #ffffff;
  font-family: "Inconsolata", monospace;
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

h1 {
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(7, 60px);
  gap: 10px;
  justify-content: center;
}

.cell {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: bold;
  border-radius: 8px;
  line-height: 1.7;
}
.cell-days {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
  border-radius: 8px;
  text-transform: uppercase;
}
  /* NO DAY*/
.h0{
  background: #333;
}

  /* x < 2H */
.h1{
  background: #852e47;
}

  /* x < 4H */
.h2{
  background:#c2441c ;
}

  /* x < 6H */
.h3{
  background:rgb(74, 90, 48) ;
}

  /* x > 6H */
.h4{
  background:#0d244d ;
}